<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236163366874-9gkpl44kkhg531qbros287vl0dgijnli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236163366874-9gkpl44kkhg531qbros287vl0dgijnli</string>
	<key>API_KEY</key>
	<string>AIzaSyD9d2nkFGp9xJXFe53Mq8jjdCQd_vsQoxI</string>
	<key>GCM_SENDER_ID</key>
	<string>236163366874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.canteenDaiict</string>
	<key>PROJECT_ID</key>
	<string>canteen-dummy-daiict</string>
	<key>STORAGE_BUCKET</key>
	<string>canteen-dummy-daiict.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236163366874:ios:98937b2eb7bbf086978ae3</string>
</dict>
</plist>