<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246971442416-5csjii7heub7d8s8r955vdkk3rs5jlu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246971442416-5csjii7heub7d8s8r955vdkk3rs5jlu0</string>
	<key>API_KEY</key>
	<string>AIzaSyBINhGhAlv7J3TIiA7Bptd2SVT3b97ZlcY</string>
	<key>GCM_SENDER_ID</key>
	<string>246971442416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.canteenManagement</string>
	<key>PROJECT_ID</key>
	<string>canteen-management-8c75e</string>
	<key>STORAGE_BUCKET</key>
	<string>canteen-management-8c75e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246971442416:ios:3bc012ef67e50d89e6ce35</string>
</dict>
</plist>